<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Leave-IN!</h1>
             <p>
                 View all the organisations listed on site
             </p>
             <%if(currentUser.type=="admin"){%>
                <a href="/orgs/new" class="btn btn-primary">Create new organisation</a><br>
            <% }%>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% if(orgs.length==0){%>
            <h2>No organisations!</h2><br>
        <% } else { %>
            <% orgs.forEach(function(org){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= org.img %>">
                    <div class="caption">
                        <h4><%= org.name %></h4>
                        <a href="<%= org.url %>">Visit organisation</a>
                    </div>
                    <p>
                        <a href="/orgs/<%= org._id%>/show" class="btn btn-primary">More Info</a>
                    </p>
                    </div>
                </div>
            <% }); %>
            <% } %>
        
    </div>
</div>

<% include ../partials/footer %>
