<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new department</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/orgs/<%= org_id%>/show" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Department name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" name="head" value="<%= currentUser._id%>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/orgs/<%= org_id%>/show">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

